
.nav {
  background-color: #076F7D;
  height: 102vh;
}

.button {
  width: 90%;
  margin-bottom: 2px;
  border-radius: 25px;
}

.searchBox {
  width: 60%;
  border-radius: 25px;
}

.marginTopBottom15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
